<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="panel panel-default jpanel">
  <div class="panel-heading"><h4 class="panel-title">游戏设置</h4> </div>
  <div class="panel-body"> 
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动标题</label>
      <div class="col-sm-9">
        <input type="text" value="{$reply['title']}" class="form-control"  name="title">
        <div class="help-block">用户发送关键词返回的图文主题。</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面</label>
      <div class="col-sm-9"> {php echo tpl_form_field_image('cover', $reply['cover'])}
        <div class="help-block">建议尺寸：450*250px，仅用于图文回复</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">描述</label>
      <div class="col-sm-9">
        <textarea style="height:150px;" name="description" class="form-control" cols="60">{$reply['description']}</textarea>
        <div class="help-block">用于图文显示的简介</div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动选择</label>
      <div class="col-sm-9">
      	<select name="gid" class="form-control"  >
        	<option value="0">请选择活动</option>
            {loop $list $row}
            	<option value="{$row['id']}" {if $reply['gid']==$row['id']} selected{/if}>{$row['title']}</option>
            {/loop}
        </select>
        <div class="help-block">必须先在【游戏管理】中添加游戏后，方能在此添加哦。注意：采用此种方式的原因是因为微擎在【回复规则列表】中，【编辑】【删除】的按钮太近，如果不小心误操作，将会一次性删除所有活动资料。为避免此种情况，故意将游戏设置部分单独出来处理。</div>
      </div>
    </div>
  </div>
</div>